In [3]:
#データを読み込む
import pandas as pd
uriage_data = pd.read_csv('/Users/shimizushota/python/100knock-data_analytics/2章/uriage.csv')
#uriage_data.describe()
#uriage_data.info()
print(uriage_data.head())

kokyaku_data = pd.read_excel('/Users/shimizushota/python/100knock-data_analytics/2章/kokyaku_daicho.xlsx')
print(kokyaku_data.head())

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二
      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [5]:
#データの揺れを確認する
print(uriage_data['item_name'].head())
print(uriage_data['item_price'].head())

uriage_data['purchase_date'] = pd.to_datetime(uriage_data['purchase_date']) #データ型をdatetime64[ns]に変換することができる
uriage_data['purchase_month'] = uriage_data['purchase_date'].dt.strftime('%Y%m') #str=string,f=formatted dt=datetimeモジュール
res1 = uriage_data.pivot_table(index = 'purchase_month', columns = 'item_name', aggfunc = 'size', fill_value = 0) #月ごとの各item_nameの件数を集計
res1 #商品の数が26個のはずなのに99個表示されてしまっている

res2 = uriage_data.pivot_table(index = 'purchase_month', columns = 'item_name', values = 'item_price', aggfunc = 'sum', fill_value = 0)
res2

0      商品A
1    商 品 S
2    商 品 a
3      商品Z
4      商品a
Name: item_name, dtype: object
0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0.0,1400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1100.0,1200.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2400.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1900.0,2000.0,2200.0,0.0,0.0
201903,0.0,0.0,500.0,1300.0,1600.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
201904,2300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1700.0,...,0.0,0.0,0.0,0.0,0.0,1900.0,0.0,0.0,0.0,0.0
201905,0.0,0.0,0.0,0.0,0.0,1900.0,0.0,0.0,0.0,0.0,...,0.0,1200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2500.0
201906,0.0,0.0,0.0,0.0,0.0,0.0,2300.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1600.0,0.0,0.0,0.0,0.0,2400.0,0.0
201907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1500.0,0.0,1800.0,0.0,0.0,0.0,0.0,0.0

In [7]:
#商品名の揺れを補正する
print(len(pd.unique(uriage_data['item_name']))) #item_nameが何種類あるのか確認

uriage_data['item_name'] = uriage_data['item_name'].str.upper() #小文字を大文字に変換
uriage_data['item_name'] = uriage_data['item_name'].str.replace('　', '') #全角のスペースを除去
uriage_data['item_name'] = uriage_data['item_name'].str.replace(' ', '') #半角のスペースを除去
uriage_data.sort_values(by=['item_name'], ascending = True) #item_nameを昇順で並び替えている

print(len(uriage_data['item_name'].unique())) #正しく補正されているか確認する
print(uriage_data['item_name'].unique()) #正しく補正されているか確認する

99
26
['商品A' '商品S' '商品Z' '商品V' '商品O' '商品U' '商品L' '商品C' '商品I' '商品R' '商品X' '商品G'
 '商品P' '商品Q' '商品Y' '商品N' '商品W' '商品E' '商品K' '商品B' '商品F' '商品D' '商品M' '商品H'
 '商品T' '商品J']

In [9]:
#金額欠損値の補完を行う
uriage_data.isnull().any(axis = 0) #item_priceに欠損値が含まれている
flg_is_null = uriage_data['item_price'].isnull() #item_priceの欠損値をT/Fで一行ずつ確認
for trg in list(uriage_data.loc[flg_is_null, 'item_name'].unique()): #欠損値の存在する商品名を抽出(リストアップ)　例）商品A,商品S,商品Z
    price = uriage_data.loc[(~flg_is_null) & (uriage_data['item_name'] == trg), 'item_price'].max() #uriage_dataの欠損値のある商品の値段をpriceに代入
    uriage_data.loc[(flg_is_null) & (uriage_data['item_name'] == trg), 'item_price'] = price #uriage_dataの欠損値のある場所にpriceを代入
print(uriage_data.head())
uriage_data.isnull().any() #欠損値がなくなったか確認

for trg in list(uriage_data['item_name'].sort_values().unique()): #商品名のリストを作る
    print(trg + 'の最大額：' + str(uriage_data.loc[uriage_data['item_name'] == trg, 'item_price'].max()) #特定の商品名で最も価格が高いものを抽出
           + 'の最小額：' + str(uriage_data.loc[uriage_data['item_name'] == trg, 'item_price'].min(skipna = False))) #特定の商品名で最も価格が低いものを抽出
#skipna = FalseはNanデータが存在する場合、最小値はNanと表示される

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2 2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904
商品Aの最大額：100.0の最小額：100.0
商品Bの最大額：200.0の最小額：200.0
商品Cの最大額：300.0の最小額：300.0
商品Dの最大額：400.0の最小額：400.0
商品Eの最大額：500.0の最小額：500.0
商品Fの最大額：600.0の最小額：600.0
商品Gの最大額：700.0の最小額：700.0
商品Hの最大額：800.0の最小額：800.0
商品Iの最大額：900.0の最小額：900.0
商品Jの最大額：1000.0の最小額：1000.0
商品Kの最大額：1100.0の最小額：1100.0
商品Lの最大額：1200.0の最小額：1200.0
商品Mの最大額：1300.0の最小額：1300.0
商品Nの最大額：1400.0の最小額：1400.0
商品Oの最大額：1500.0の最小額：1500.0
商品Pの最大額：1600.0の最小額：1600.0
商品Qの最大額：1700.0の最小額：1700.0
商品Rの最大額：1800.0の最小額：1800.0
商品Sの最大額：1900.0の最小額：1900.0
商品Tの最大額：2000.0の最小額：2000.0
商品Uの最大額：2100.0の最小額：2100.0
商品Vの最大額：2200.0の最小額：2200.0
商品Wの最大額：2300.0の最小額：2300.0
商品Xの最大額：2400.0の最小額：2400.0
商品Yの最大額：2500.0の最小額：2500.0
商品Zの最大額：2600.0の最小額：2600.0

In [ ]:
#顧客名の揺れを補正する
kokyaku_data['顧客名'] = kokyaku_data['顧客名'].str.replace('　', '') #全角でスペースを入れる
kokyaku_data['顧客名'] = kokyaku_data['顧客名'].str.replace(' ', '') #半角でスペースを入れる
print(kokyaku_data['顧客名'].head())

flg_is_serial = kokyaku_data['登録日'].astype('str').str.isdigit() #astype('str')で登録日を文字列に変換して、str.isdigit()で文字列が数字か判定している(T/F)
print(flg_is_serial.sum())

#数値から日付に変換　
fromSerial = pd.to_timedelta(kokyaku_data.loc[flg_is_serial, '登録日'].astype('float') - 2, unit = 'D') + pd.to_datetime('1900/1/1')
fromSerial # Excelは1900/1/1から始まり、シリアル値は１なので０にするため−１する。また本来うるう年ではない1900/02/29が登録されているので−１する
fromString = pd.to_datetime(kokyaku_data.loc[~flg_is_serial, '登録日']) #日付として取り込まれているデータも書式を揃える datetime型に変換
fromString
kokyaku_data['登録日'] = pd.concat([fromSerial, fromString])
print(kokyaku_data)

kokyaku_data['登録年月'] = kokyaku_data['登録日'].dt.strftime('%Y%m')
rslt = kokyaku_data.groupby('登録年月').count()['顧客名']
print(rslt)
print(len(kokyaku_data))

flg_is_serial = kokyaku_data['登録日'].astype('str').str.isdigit() #数値として入力されている値が０になったか確認
flg_is_serial.sum()

In [25]:
#顧客名をキーに２つのデータを結合
join_data = pd.merge(uriage_data, kokyaku_data, left_on = 'customer_name', right_on ='顧客名' , how = 'left' )
joim_data = join_data.drop('customer_name', axis = 1)　#列を削除するのでaxis=1
join_data

,purchase_date,item_name,item_price,customer_name,purchase_month,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,2019-06-13 18:02:34,商品A,100.0,深井菜々美,201906,深井菜々美,ふかい ななみ,C市,fukai_nanami@example.com,2017-01-26,201701
1,2019-07-13 13:05:29,商品S,1900.0,浅田賢二,201907,浅田賢二,あさだ けんじ,C市,asada_kenji@example.com,2018-04-07,201804
2,2019-05-11 19:42:07,商品A,100.0,南部慶二,201905,南部慶二,なんぶ けいじ,A市,nannbu_keiji@example.com,2018-06-19,201806
3,2019-02-12 23:40:45,商品Z,2600.0,麻生莉緒,201902,麻生莉緒,あそう りお,D市,asou_rio@example.com,2018-07-22,201807
4,2019-04-22 03:09:35,商品A,100.0,平田鉄二,201904,平田鉄二,ひらた てつじ,D市,hirata_tetsuji@example.com,2017-06-07,201706
...,...,...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,商品Y,2500.0,福島友也,201902,福島友也,ふくしま ともや,B市,fukushima_tomoya@example.com,2017-07-01,201707
2995,2019-06-22 04:03:43,商品M,1300.0,大倉晃司,201906,大倉晃司,おおくら こうじ,E市,ookura_kouji@example.com,2018-03-31,201803
2996,2019-03-29 11:14:05,商品Q,1700.0,尾形小雁,201903,尾形小雁,おがた こがん,B市,ogata_kogan@example.com,2017-03-15,201703
2997,2019-07-14 12:56:49,商品H,800.0,芦田博之,201907,芦田博之,あしだ ひろゆき,E市,ashida_hiroyuki@example.com,2018-07-13,201807
2998,2019-07-21 00:31:36,商品D,400.0,石田郁恵,201907,石田郁恵,いしだ いくえ,B市,ishida_ikue@example.com,2017-02-05,201702

In [ ]:
#クレンジングデータをダンプする
dump_data = join_data[['purchase_date', 'purchase_month', 'item_name', 'item_price', '顧客名', 'かな', '地域', 'メールアドレス', '登録日']]
dump_data

dump_data.to_csv('dump_data.csv', index = False)　#csvファイルの出力

In [37]:
#データを集計する
import_data = pd.read_csv('/Users/shimizushota/python/100本ノック/dump_data.csv')
import_data

,purchase_date,purchase_month,item_name,item_price,顧客名,かな,地域,メールアドレス,登録日
0,2019-06-13 18:02:34,201906,商品A,100.0,深井菜々美,ふかい ななみ,C市,fukai_nanami@example.com,2017-01-26
1,2019-07-13 13:05:29,201907,商品S,1900.0,浅田賢二,あさだ けんじ,C市,asada_kenji@example.com,2018-04-07
2,2019-05-11 19:42:07,201905,商品A,100.0,南部慶二,なんぶ けいじ,A市,nannbu_keiji@example.com,2018-06-19
3,2019-02-12 23:40:45,201902,商品Z,2600.0,麻生莉緒,あそう りお,D市,asou_rio@example.com,2018-07-22
4,2019-04-22 03:09:35,201904,商品A,100.0,平田鉄二,ひらた てつじ,D市,hirata_tetsuji@example.com,2017-06-07
...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,201902,商品Y,2500.0,福島友也,ふくしま ともや,B市,fukushima_tomoya@example.com,2017-07-01
2995,2019-06-22 04:03:43,201906,商品M,1300.0,大倉晃司,おおくら こうじ,E市,ookura_kouji@example.com,2018-03-31
2996,2019-03-29 11:14:05,201903,商品Q,1700.0,尾形小雁,おがた こがん,B市,ogata_kogan@example.com,2017-03-15
2997,2019-07-14 12:56:49,201907,商品H,800.0,芦田博之,あしだ ひろゆき,E市,ashida_hiroyuki@example.com,2018-07-13
2998,2019-07-21 00:31:36,201907,商品D,400.0,石田郁恵,いしだ いくえ,B市,ishida_ikue@example.com,2017-02-05

In [51]:
byItem = pd.pivot_table(import_data, index = 'purchase_month', columns = 'item_name', aggfunc = 'size', fill_value = 0)
print(byItem)

byPrice = pd.pivot_table(import_data, index = 'purchase_month', columns = 'item_name', values = 'item_price', aggfunc = 'sum', fill_value = 0)
print(byPrice)

byCustomer = pd.pivot_table(import_data, index = 'purchase_month', columns = '顧客名', aggfunc = 'size', fill_value = 0)
print(byCustomer)

byRegion = pd.pivot_table(import_data, index = 'purchase_month', columns = '地域', aggfunc = 'size', fill_value = 0)
print(byRegion)

away_data = pd.merge(uriage_data, kokyaku_data, left_on = 'customer_name', right_on = '顧客名', how = 'right')
print(away_data[away_data['purchase_date'].isnull()][['顧客名', 'メールアドレス', '登録日']])

item_name       商品A  商品B  商品C  商品D  商品E  商品F  商品G  商品H  商品I  商品J  ...  商品Q  \
purchase_month                                                    ...
201901           18   13   19   17   18   15   11   16   18   17  ...   17
201902           19   14   26   21   16   14   14   17   12   14  ...   22
201903           17   21   20   17    9   27   14   18   12   16  ...   23
201904           17   19   24   20   18   17   14   11   18   13  ...   20
201905           24   14   16   14   19   18   23   15   16   11  ...   13
201906           24   12   11   19   13   18   15   13   19   22  ...   15
201907           20   20   17   17   12   17   19   19   19   23  ...   15

item_name       商品R  商品S  商品T  商品U  商品V  商品W  商品X  商品Y  商品Z
purchase_month
201901           21   20   17    7   22   13   14   10    0
201902           22   22   23   19   22   24   16   11    1
201903           16   20   12   23   18   16   21   16    0
201904           20   16   16   11   15   14   16   20    0
201905           22   18   16   16    9   21   16   20    0
201906           16   21   12   18   20   17   15   13    0
201907           19   23   21   13   28   16   18   12    0

[7 rows x 26 columns]
item_name          商品A     商品B     商品C     商品D     商品E      商品F      商品G  \
purchase_month
201901          1800.0  2600.0  5700.0  6800.0  9000.0   9000.0   7700.0
201902          1900.0  2800.0  7800.0  8400.0  8000.0   8400.0   9800.0
201903          1700.0  4200.0  6000.0  6800.0  4500.0  16200.0   9800.0
201904          1700.0  3800.0  7200.0  8000.0  9000.0  10200.0   9800.0
201905          2400.0  2800.0  4800.0  5600.0  9500.0  10800.0  16100.0
201906          2400.0  2400.0  3300.0  7600.0  6500.0  10800.0  10500.0
201907          2000.0  4000.0  5100.0  6800.0  6000.0  10200.0  13300.0

item_name           商品H      商品I      商品J  ...      商品Q      商品R      商品S  \
purchase_month                             ...
201901          12800.0  16200.0  17000.0  ...  28900.0  37800.0  38000.0
201902          13600.0  10800.0  14000.0  ...  37400.0  39600.0  41800.0
201903          14400.0  10800.0  16000.0  ...  39100.0  28800.0  38000.0
201904           8800.0  16200.0  13000.0  ...  34000.0  36000.0  30400.0
201905          12000.0  14400.0  11000.0  ...  22100.0  39600.0  34200.0
201906          10400.0  17100.0  22000.0  ...  25500.0  28800.0  39900.0
201907          15200.0  17100.0  23000.0  ...  25500.0  34200.0  43700.0

item_name           商品T      商品U      商品V      商品W      商品X      商品Y     商品Z
purchase_month
201901          34000.0  14700.0  48400.0  29900.0  33600.0  25000.0     0.0
201902          46000.0  39900.0  48400.0  55200.0  38400.0  27500.0  2600.0
201903          24000.0  48300.0  39600.0  36800.0  50400.0  40000.0     0.0
201904          32000.0  23100.0  33000.0  32200.0  38400.0  50000.0     0.0
201905          32000.0  33600.0  19800.0  48300.0  38400.0  50000.0     0.0
201906          24000.0  37800.0  44000.0  39100.0  36000.0  32500.0     0.0
201907          42000.0  27300.0  61600.0  36800.0  43200.0  30000.0     0.0

[7 rows x 26 columns]
顧客名             さだ千佳子  中仁晶  中田美智子  丸山光臣  久保田倫子  亀井一徳  五十嵐春樹  井上桃子  井口寛治  \
purchase_month
201901              3    1      4     2      2     0      5     3     3
201902              9    1      2     2      1     4      2     1     0
201903              1    2      1     6      1     4      3     3     2
201904              0    3      1     2      0     2      2     0     3
201905              3    2      5     2      4     1      2     1     3
201906              1    3      0     4      1     1      1     2     2
201907              3    0      3     2      5     3      5     2     5

顧客名             井川真悠子  ...  香椎優一  高原充則  高梨結衣  高沢美咲  高田さんま  鳥居広司  鶴岡薫  麻生莉緒  \
purchase_month         ...
201901              1  ...     0     1     1     1      5     2    0     2
201902              4  ...     4     0     3     2      0     1    2     4
201903              2  ...     3     1     6     2      4     2    4     2
201904              2  ...     2     4     2     3      4     3    2     1
201905              3  ...     1     1     1     0      2     2    3     4
201906              3  ...     7     3     0     2      1     0    2     1
201907              5  ...     2     4     4     2      0     2    4     3

顧客名             黄川田博之  黒谷長利
purchase_month
201901              2     5
201902              0     1
201903              2     1
201904              2     0
201905              4     1
201906              2     4
201907              4     1

[7 rows x 199 columns]
地域              A市  B市  C市  D市  E市  F市  G市  H市
purchase_month
201901          59  55  72  34  49  57  49  42
201902          71  46  65  48  61  52  43  63
201903          64  52  57  43  52  59  51  59
201904          64  48  54  45  48  58  40  52
201905          57  52  68  48  59  65  35  43
201906          53  47  61  30  51  51  58  58
201907          76  53  61  42  54  64  47  54
       顧客名                  メールアドレス        登録日
2999  福井美希  fukui_miki1@example.com 2019-04-23